.pokedex {
  background-color: white;
}

.pokedex-header {
  text-align: center;
  background-color: #BF0010;
  padding: 10px;
  color: white;
  height: 50px;
}

.pokedex-header h1 {
  font-size: 2.5em;
  margin: 0;
}

.pokedex-body {
  display: flex;
  justify-content: center;
  height: 89vh;
}

.pokedex-info {
  margin-top: 15px;
  width: 150px;
}

.pokedex-detail {
  background: #E8EEEE;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
}

.pokedex-detail .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokedex-detail .list .item {
  padding: 5px 10px
}

.pokedex-detail .list .item .label {
  font-weight: 600;
}

.pokedex-detail .list .item:first-child{
  border-bottom: 1px solid #333;
  margin-bottom: 5px;
}

.pokedex-detail .list .item:first-child .label {
  font-size: 1.15em;
  text-align: center;
}

.pokedex-detail .list .item .text {

}

.pokedex-screen {
  background-color: #E8EEEE;
  border: 3px solid #666;
  border-radius: 15px;
  padding: 3px;
  text-align: center;
}

.pokedex-list {
  width: 200px;
  height: 100%;
  overflow-y: scroll;
  padding: 0 15px;
}

.pokedex-list ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.pokedex-list ul li {
  padding: 5px;
  border: 2px solid #BF0010;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
  font-size: 1.05em;
}

.pokedex-list ul li.selected {
  background-color: #BF0010;
  color: #fff;
}
